@font-face {
    font-family: 'Caribbean';
    src: url('Caribbean-Regular.woff2') format('woff2'),
        url('Caribbean-Regular.woff') format('woff'),
        url('Caribbean-Regular.ttf') format('truetype'),
        url('Caribbean-Regular.svg#Caribbean-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

